# Build and Release Folders
bin-debug/
bin-release/
coverage/
[Oo]bj/
[Bb]in/
/package-lock.json
/yarn.lock
/node_modules
.next/
package-lock.json
yarn.lock
build
consumerstudio/dist
.scannerwork/

# Other files and folders
.env
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.DS_Store
.idea

# testing
/coverage

# production
/build